FORMAT: 1A
HOST: http://fastighetsstyrning.smhi.se/ws/enloss

# SMHI Fastighet

This is the technical documentation of the API provided by SMHI for customers to request e.g. energy statistics
and equivalent temperature forecasts for buildings and properties.

Please visit [SMHI - Fastighet](https://www.smhi.se/professionella-tjanster/professionella-tjanster/fastighet) 
 (*in swedish*) for more information about the products and services we provide.
 
## Basic Information
The API endpoint is **http://fastighetsstyrning.smhi.se/ws/enloss** which is the root for all requests.
Real requests are made by providing additional parameters via the URL and authentication info via headers.

The full endpoint is **http://fastighetsstyrning.smhi.se/ws/enloss/*\<place\>*/*\<product\>*/*\<typecase\>*/*\<date\>***,
where ***\<place\>*** and ***\<product\>*** are required. ***\<typecase\>*** is only required for some products and 
***\<date\>*** is optional and specifies a date from which data are returned.

All parameters and headers are described in the sections below.

## Authentication
As a subscriber to the API you should have received a customer id, subscription id and a password. These three
parts must be formatted in a certain way and put into the header **key** for the request to be considered valid.

Customer id should be an 8 character integer with leading 0s. Subscription id is an integer and a customer
can have one or more subscription ids, one for each subscription. Password is a string.

The required format of the **key** header is **customer id:subscription id:md5sum** where **md5sum** is the
md5sum of "today's date (YYYY-MM-DD):password".

For a customer with a customer id 00001234, subscription id 1337 and password foobarbaz, the header **key**
should be (on 2018-10-08):

    *00001234:1337:md5("2018-10-08:foobarbaz")*
    
which computes to:

    *00001234:1337:26b20a669930b8f49491a03f5e0e3c8c*

## Headers
Two headers as key-value pairs are required.
|Key|Description|
|---|-----------|
|accept|Specifies which data structure the returned data will be in. Currently only "application/json" is supported and the header can be hard coded to this.|
|key|See the Authentication section|

## Places
Each request to the API is a request for data at a specific place. A place is identified with a 
6 digit number. The first 3 digits is the country identification and the last 3 is a unique number for each
place available. Currently only places in Sweden are available and its country code is 102.
Some products are based on forecasts and they requires the first digit to be 5. In this case the first 3
digits should be 502. The Products section describes which products that are based on forecasts and thus
requires the country code 502, instead of the normal 102.

For a complete list of the available places, see **HÄR SAKNAS EN LISTA MED MAPPNING MOT PLACENUMBER**.

## Typecases
A typecase is a representation of a specific building and its surroundings which is used in models
by SMHI. A typecase is represented by an id. See the Products section for the products that requires a typecase.

## Products
Data for multiple products are available in the API and they are found in the table below. The Product short
name is used as a parameter in the URL to specify requested product.

As described in the Places section, some products based on forecasts requires the country code in the place
number to be 502 and this can also be seen in the table.

Some products requires a typecase as described in the Typecases section and this information is found in the
table as well.

|Product|Product short name|Requires country code 502|Requires typecase|
|-------|------------------|-------------------------|-----------------|
|Graddagar Monthly|MonthlyDD / GDmanad|NO|NO|
|Graddagar Daily|DailyDD / GDdygn|NO|YES|
|Energiindex Monthly|MonthlyEI / EImanad|NO|NO|
|Energiindex Daily|DailyEI / EIdygn|NO|YES|
|Kylindex Monthly|MonthlyKI / KImanad|NO|YES|
|Kylindex Daily|DailyKI / KIdygn|NO|YES|
|Kylindex Hourly|HourlyKI / KItimme|NO|YES|
|Ekvivalenttemperatur Daily|DailyET / ETdygn|NO|NO|
|Ekvivalenttemperatur for Forecast Control|ETFast|YES|YES|
|Ekvivalenttemperatur Forecasts|ETProg|YES|YES|
|Ekvivalenttemperatur Observations|ETObs|NO|YES|

The table below specifies which typecases that are available for the products that requires a typecase.
|Product short name|Available typecases|
|------------------|-------------------|
|DailyDD / GDdygn|105|
|DailyEI / EIdygn|105|
|MonthlyKI / KImanad|1011, 1012, 1013, 1014|
|DailyKI / KIdygn|1011, 1012, 1013, 1014|
|HourlyKI / KItimme|1011, 1012, 1013, 1014|
|ETFast|*|
|ETProg|105|
|ETObs|105|

\* *This product has too many available typecases to show in a table. Contact SMHI Fastighet for a complete
list and for more information.*

## Historical Requests
Normally requests shall be made without the \<date\> parameter and this will return the latest valid values,
e.g. data for the latest month depending on the specified product. New customers may need to populate internal
databases with history and this can be made with historical requests.

Historical requests are made by specifying the \<date\> parameter on the form YYYYmmddTHHMMSSZ and values
will be returned from that date to the latest valid date. E.g. the date 2018-02-15 12:00:00 translates to the
format 20180215T120000Z.

The date from which a customer is allowed to get data from is regulated by the subscription and there may
also be a limit to how many times historical requests can be made.

## Returned Body
Data is returned in json format with both metadata and the values for the product. Two important json attributes
are <code>dataDescription</code> and <code>data</code>. <code>dataDescription</code> are the parameter names
for the values in <code>data</code>. It is important that <code>dataDescription</code> is evaluated **every 
request** since it is not guaranteed that the parameters in the <code>data</code> attribute will always come
in the same order.

The examples below demonstrates how the returned json format looks like.

## Error Handling
The API attempts to return appropriate HTTP status codes for every request.
A 2xx status code indicates success, whereas a 4xx or 5xx status code indicates an error.

Currently these status codes can be returned
|Status Code|Name|Description|
|-----------|----|-----------|
|200|Success|The request was successful and data is returned.|
|204|No Content|The request was successful but no content was found. This can be due to an invalid combination of the request parameters.|
|401|Unauthorized|Authentication was refused and a customer and subscription with the specified key could not be found. Check that the key header really is correct.|
|403|Forbidden|Authentication was successful but the customer does not have access to the requested data.|
|404|Not Found|URL not found|
|500|Internal Server Error|Something in the request could not be processed. Check the raised exception for details.|


## Code Examples
Minimal code examples that are automatically generated by Apiary is found by clicking on the different 
examples below.

## Basic Requests [/{place}/{product}]
This is the most basic requests that gets the latest data set for products that do not require a typecase.

### Place and Product [GET]
+ Parameters

    + place: 102612 (required, integer) - The id of the place to get data for
    + product: MonthlyEI (required, string) - The short name of the product to get data for
    

+ Request

    + Headers
    
            accept: application/json
            key: customerid:subscriptionid:md5sum
            
+ Response 200 (application/json)

        {
            "placeName": "Stockholm",
            "projection": "WGS84",
            "lon": 18.0400009,
            "lat": 59.2830009,
            "placeId": 102612,
            "timezone": "Europe/Stockholm",
            "dataDescription": [
                "validDate",
                "EIakt",
                "EInorm"
            ],
            "issuedate": "2018-09-01 02:00:00",
            "issuer": "SMHI",
            "data": [
                [
                    "2018-09-01",
                    -999,
                    -999
                ]
            ],
            "product": "EImanad"
        }
        
## Products with Typecase [/{place}/{product}/{typecase}]
This is a request with products that requires a typecase.

### Place, Product and Typecase[GET]
+ Parameters

    + place: 102612 (required, integer) - The id of the place to get data for
    + product: DailyEI (required, string) - The short name of the product to get data for
    + typecase: 105 (optional, string) - The id of the typecase to get data for
    

+ Request

    + Headers
    
            accept: application/json
            key: customerid:subscriptionid:md5sum
            
+ Response 200 (application/json)

        {
            "placeName": "Stockholm",
            "projection": "WGS84",
            "lon": 18.0400009,
            "lat": 59.2830009,
            "placeId": 102612,
            "timezone": "Europe/Stockholm",
            "dataDescription": [
                "validDate",
                "EIakt",
                "EInorm"
            ],
            "issuedate": "2018-10-10 02:00:00",
            "issuer": "SMHI",
            "data": [
                [
                    "2018-10-03",
                    -999,
                    -999
                ],
                [
                    "2018-10-04",
                    -999,
                    -999
                ],
                [
                    "2018-10-05",
                    -999,
                    -999
                ],
                [
                    "2018-10-06",
                    -999,
                    -999
                ],
                [
                    "2018-10-07",
                    -999,
                    -999
                ],
                [
                    "2018-10-08",
                    -999,
                    -999
                ],
                [
                    "2018-10-09",
                    7.4,
                    11.4
                ]
            ],
            "product": "EIdygn"
        }
        
# Historical Requests [/{place}/{product}/{typecase}/{date}]
This is requests for historical data. The <code>typecase</code> parameter can be omitted if the requested product does
not require a typecase.

These requests are not meant to be called multiple times, only

### Place, Product, (Typecase) and Date[GET]
+ Parameters

    + place: 102612 (required, integer) - The id of the place to get data for
    + product: DailyEI (required, string) - The short name of the product to get data for
    + typecase: 105 (optional, string) - The id of the typecase to get data for
    + date: 20181005T000000Z (optional, string) - The date to get data from
    

+ Request

    + Headers
    
            accept: application/json
            key: customerid:subscriptionid:md5sum
            
+ Response 200 (application/json)

        {
            "placeName": "Stockholm",
            "projection": "WGS84",
            "lon": 18.0400009,
            "lat": 59.2830009,
            "placeId": 102612,
            "timezone": "Europe/Stockholm",
            "dataDescription": [
                "validDate",
                "EIakt",
                "EInorm"
            ],
            "issuedate": "2018-10-10 02:00:00",
            "issuer": "SMHI",
            "data": [
                [
                    "2018-10-05",
                    -999,
                    -999
                ],
                [
                    "2018-10-06",
                    -999,
                    -999
                ],
                [
                    "2018-10-07",
                    -999,
                    -999
                ],
                [
                    "2018-10-08",
                    -999,
                    -999
                ],
                [
                    "2018-10-09",
                    -999,
                    -999
                ]
            ],
            "product": "EIdygn"
        }